#header-title{
    font-size: 24px;
    font-weight: bold;

    @extend .text-gradient;
}

.text-gradient{
    background: linear-gradient(135deg, hsl(263 70% 65%), hsl(217 91% 60%));
    color: transparent;
    background-clip: text;
}

nav li:not(#header-btn-cta){
    transition: color 0.3s ease;

    &:hover{
        color: #9767e4;
    }
}


#header-btn-cta{
    transition: scale 0.5s ease;

    &:hover{
        scale: 1.1
    }
}