@import "./variables/variables";
@import "./classes/classes";
@import "./layout/layout";
@import "./components/components";

html{
    scroll-behavior: smooth;
}


#hero{
    background-image: url("../assets/images/hero-bg-cover.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#hero-bg-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 15, 28, 0.913);
    z-index: 0;
}


#hero-scroll-icon{
    animation: move-up-down 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite ;
}


.hero-btn{
    transition: transform 0.5s ease;

    #hero-btn__moving{
        transition: all 0.5s ease;
    }

    &:hover{
        transform: scale(1.1);

        #hero-btn__moving{
            transform: translateY(3px);
        }
    }
}



.hero-sn-icon{
    transition: all 0.3s ease;

    &:hover{
        animation: lighting-icon 0.3s ease;
        transform: scale(1.2);
    }
    
}

.section{
    @media screen and (min-width: 769px) {
        opacity: 0;
        animation: show-img  ease forwards;
        animation-timeline: view(95% -95%);
    }
}

@keyframes show-img {
    100%{
        opacity: 1;
    }
}



@keyframes lighting-icon {
    from{
        background-color: rgba(255, 255, 255, 0.213) ;
    }
}



@keyframes move-up-down {
    
    50%{
         transform: translateY(-20px);
    }

}


